---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/home.astro';
---

<Layout title="Aldi Saputra | Portfolio">
  <Navbar />
  <main class="flex-grow flex items-center w-full max-w-7xl mx-auto px-6 relative z-10">
      <Hero />
    </main>
</Layout>